[run]
parallel = True
branch = True
concurrency = multiprocessing
source = .
omit =
    */migrations/*
    */commands/*
    */tests/test_*.py
    */settings/*
    */manage.py
    */emenuapi/*

[report]
ignore_errors = True
